# Dependencies
node_modules/

# Build output
dist/
build/
out/

# Vite
.vite/

# Electron
release/
app.asar

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Runtime data / DB
*.db
*.db-shm
*.db-wal

# Environment
.env
.env.*

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/

# Cache
.cache/
tmp/
temp/

src/images/
